{% if not reduced %}
<div class="container">
  <ins data-revive-zoneid="3" data-revive-id="5ae65e2e4729376e04e82303cef4f977"></ins>
  <script async src="//ads.theclashfruit.me/www/delivery/asyncjs.php"></script>
</div>

<footer class="pageFooter container">
  <p class="copyright">
    Copyright &copy; 2024 CRSS <br>
    Brought to by PrideCraft Studios, CustardMC, LoopMC, Devin, Alto, Badger, Minefacts, FedBank, Northern, WorldWidePixel, Blurryface, Lupancham, and TheClashFruit's Real Hosting Company!
  </p>
  
  <div class="SNS-Links">
      
      <a href="https://discord.gg/rGjCKawPkS" target="_blank" rel="me">
        <img src="/img/Discord.svg" alt="YouTube's icon">
        <span>CRSS's Public Discord</span>
      </a>
  
      <a href="https://youtube.com/@CRSS666" target="_blank" rel="me">
        <img src="/img/Youtube.svg" alt="YouTube's icon">
        <span>CRSS's channel</span>
      </a>

      <a href="https://tech.lgbt/@blurryface" target="_blank" rel="me">
        <img src="/img/Mastodon.svg" alt="Mastodon's icon">
        <span>Blurryface</span>
      </a>

      <a href="https://wetdry.world/@TheClashFruit" target="_blank" rel="me">
        <img src="/img/Mastodon.svg" alt="Mastodon's icon">
        <span>TheClashFruit</span>
      </a>

      <a href="https://wetdry.world/@Myadeleines" target="_blank" rel="me">
        <img src="/img/Mastodon.svg" alt="Mastodon's icon">
        <span>Myadeleines</span>
      </a>

  </div>
</footer>
{% endif %}