<footer class="pageFooter container" id="footer">
  <div class="left">
    <p class="copyright">
      Copyright &copy; 2023 CRSS
    </p>
    <p class="sponsors">
      Brought to by PrideCraft, TheClashFruit's Real Hosting Company.
    </p>
  </div>
  <div class="left">
    
  </div>
</footer>