<header class="pageHero">
  <div class="container">

    <!-- Left -->
    <div class="Branding">
      <img src="/img/CRSS-Logo.svg">
      <span>Clyde's Real Survival SMP!</span>
    </div>

    <!-- Right -->
    <div class="Server-Information">
      <span>Server address:</span>
      <input type="text" size="10" readonly value="play.blurryface.xyz">
      <span>Version: 1.3.2</span>
    </div>

  </div>
</header>