<div class="pageHero" id="hero">
  <div class="blurFiler">
    <div class="container">
      <h1>Clyde's Real Survival SMP</h1>

      <div class="serverInfo">
        Online: <label>{{ playerCount }}</label> / <label>200</label>
      </div>
    </div>
  </div>
</div>