{% if not reduced %}
<header class="pageHero">
  <div class="container">

    <!-- Left -->
    <div class="Branding">
      <img src="/img/CRSS-Logo.svg">
      <span>Clyde's Real Survival SMP!</span>
    </div>

    <!-- Right -->
    <div class="Server-Information">
      <span>Server address:</span>
      <input type="text" size="14" readonly value="play.crss.cc">
      <span>Version: 1.13.2</span> <!-- oh god 1.13 -->
    </div>

  </div>
</header>
{% endif %}