<script src="/js/nav.js" type="module"></script>
<div class="Nav-Toggle">Menu</div>
<nav class="pageNav">
  <div class="container">
    <div class="navLeft">
      <a {% if page == 'home' %} class="active" {% else %} href="/" {% endif %}>
        Home
      </a>
      <a href="https://youtube.com/@CRSS666">Videos</a>
      <a {% if page == 'gallery' %} class="active" {% else %} href="/gallery" {% endif %}>
        Gallery
      </a>
      <a {% if page == 'nations' %} class="active" {% else %} href="/nations" {% endif %}>
        Nations
      </a>
      <!--<a {% if page == 'rules' %} class="active" {% else %} href="/rules" {% endif %}>
        Rules
      </a>-->
      <a {% if page == 'map.js' %} class="active" {% else %} href="/map" {% endif %}>
        Map
      </a>
    </div>
    <div class="navRight" style="display: none;">
      {% if user %}
        <a class="userButton {% if page == 'profile' %}active{% endif %}" href="{% if page == 'profile' %}#{% else %}/profile{% endif %}">
          {{ user.global_name }}
        </a>
      {% else %}
        <a class="buttonPrimary" href="{{ discord_auth }}">
          Login
        </a>
      {% endif %}
    </div>
  </div>
</nav>