{% if not reduced %}
<script src="/js/nav.js" type="module"></script>
<div class="navToggle">Menu</div>
<nav class="pageNav">
  <div class="container">
    <div class="navLeft">
      <a class="transitionEnabled {% if page == 'home' %} active {% endif %}" href="/">
        Home
      </a>
      <a class="transitionEnabled {% if page == 'gallery' %} active {% endif %}" href="/gallery">
        Gallery
      </a>
      <a class="transitionEnabled {% if page == 'nations' %} active {% endif %}" href="/nations">
        Nations
      </a>
      <a class="{% if page == 'map.js' %} active {% endif %}" href="/map">
        Map & Rails
      </a>
    </div>
    <div class="navRight">
      {% if user %}
        <a class="userButton {% if page == 'profile' %}active{% endif %}" href="{% if page == 'profile' %}#{% else %}/profile{% endif %}">
          {{ user.global_name }}
        </a>
      {% else %}
        <a class="buttonPrimary" href="{{ discord_auth }}">
          Login
        </a>
      {% endif %}
    </div>
  </div>
</nav>
{% endif %}