{% include 'includes/head.twig' with {'pageTitle': '404'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': '404',} %}
    
<main class="pageContent container">
  <h1>Not found! :<</h1>
  <p>
    This page is nowhere to be found!<br>
    Go on Discord and complain about it to Clash or Mya!!
  </p>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}