{% include 'includes/head.twig' %}

{% include 'includes/hero.twig' %}
{% include 'includes/nav.twig' %}

<main class="pageContent">
  <div class="container">
    <h1 id="404-not-found">404 Not Found</h1>

    <p>
      We couldn't find this page :(
    </p>
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}