{% include 'includes/head.twig' with {'pageTitle': 'Gallery'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'gallery',} %}

<main class="container">
	<h1>Gallery</h1>
	<p>
		Yet to be filled. :3<br>
		Come later!
	</p>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}