{% include 'includes/head.twig' with {'pageTitle': 'Home'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'home',} %}
    
<main class="pageContent container">
  <h1>Welcome to Clyde's Real Survival SMP (CRSS)!</h1>
  <p>This is a server made by Blurryface, hosted by TheClashFruit, played by Devin, and sponsored by TheClashFruit's Real Hosting Company Limited Liability Company (TCFRHCLLC) and Pridecraft Studios!</p>
  

  <h2 id="info">Information</h2>
  <ol>

    This is CRSS, a server hosted by Blurryface which updates every 1st of the month, ever since beta 1.0. 
    
    We've been doing this for a good while, and our server has many structures and has had many players. 
    
    It currently has 3 nations, PSF, DRR and CNK, each one with unique builds and terrain. 
    
    We have an Youtube channel where we post some bits of our server, you can stay tuned to it to get to know more about us. 
    
    The seed used in the world is the same seed the first Mian Menu Panorama used, and a pack with a panorama from the area which we built over, on the original coordinates, is due to be released soon™️. 
    Stay tuned to our Modrinth to download it!

  </ol>



  <h2 id="rules">Rules</h2>
  <ol>
    <li>
      The usage of modified clients that gives unfair advantage to players is not permitted. Even if you only use certain cheats, such as FullBright and InvMove, you'll still get banned. <b>TL;DR Do not cheat.</b>
    </li>
    <li>
      Do not modify (or destroy) other players' constructions, or take their items, without their permission. <b>TL;DR Do not grief or steal.</b>
    </li>
    <!-- <li>
      Attempting to scam people, from IRL or in-game negotiations, will lead to a ban. It's only permitted to "scam" if it fits the lore. <b>TL;DR: Don't scam</b>
    </li> -->
    <li>
      The only exceptions to the second rule is if you're taking over something, such as a government. This has happened, for example, to the Panorama Socialist Federation, previously known as "Republic of Panorama". You're free to do any modifications to whatever, if it fits your government, and the other players approve of that take over. If they don't approve of it, your government may get re-taken over, and any changes will be undone by players. <b>TL;DR You "can" grief if you take a government over and need to do changes</b>
  </ol>
  <b>Failing to follow these basic rules will result in a ban.</b>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}