{% include 'includes/head.twig' with {'pageTitle': 'Home'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'home',} %}
    
<main class="pageContent" id="content">
  <div class="container">
    <h1>Welcome to Clyde's Real Survival SMP (CRSS)!</h1>
    This is a server made by Blurryface, hosted by TheClashFruit, played by Devin, and sponsored by TheClashFruit's Real Hosting Company Limited Liability Company (TCFRHCLLC) and Pridecraft Studios!
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}