{% include 'includes/head.twig' with {'pageTitle': 'Home'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'home',} %}
    
<main class="pageContent container">
  <h1>Welcome to Clyde's Real Survival SMP (CRSS)!</h1>
  <p>This is a server made by Blurryface, hosted by TheClashFruit, played by Devin, and sponsored by TheClashFruit's Real Hosting Company Limited Liability Company (TCFRHCLLC) and Pridecraft Studios!</p>
  

  <h2 id="info">Information</h2>

  <p>
    This is CRSS, a server hosted by Blurryface which updates every 1st of the month, ever since beta 1.0.<br />
    
    We've been doing this for a good while, and our server has many structures and has had many players.<br />
    
    It currently has 6 nations, PSF, CNK, TTK, ROB, RFM and TCG, each one with unique builds and terrain.<br />
    
    We have an Youtube channel where we post some bits of our server, you can stay tuned to it to get to know more about us.<br />
    
    The seed used in the world is the same seed the first Main Menu Panorama used, and a pack with a panorama from the area which we built over, on the original coordinates, is due to be released soon™.<br />
    Stay tuned to our Modrinth to download it!
  </p>

  <h2 id="modpack">Modpack</h2>

  <p>
    If you want to get started with simple mods for CRSS, you can download the CRSS Modpack on Modrinth!
    The mods included are designed to be small, simple, and follows the rules of CRSS (which you can see below).
    Download CRSS Modpack on Modrinth: <a href="https://modrinth.com/modpack/crsspack">https://modrinth.com/modpack/crsspack</a>
  </p>

  <h2 id="rules">Rules</h2>
  <ol>
    <li>
      The usage of modified clients that gives unfair advantage to players (i.e. cheat clients) is not permitted. Even if you only use these clients for legit functions, such as FullBright, you'll still get banned. <b>TL;DR Do not cheat.</b><br />
    </li>
    <li>
      Do not modify (or destroy) other players' constructions, or take their items, without their permission. <b>TL;DR Do not grief or steal.</b><br />
    </li>
    <!-- <li>
      Attempting to scam people, from IRL or in-game negotiations, will lead to a ban. It's only permitted to "scam" if it fits the lore. <b>TL;DR: Don't scam</b>
    </li> -->
    <li>
      The only exceptions to the second rule is if you're taking over something, such as a government.<br /> This has happened, for example, to the Panorama Socialist Federation, previously known as "Republic of Panorama".<br /> You're free to do any modifications to whatever, if it fits your government, and the other players approve of that take over.<br /> If they don't approve of it, your government may get re-taken over, and any changes may be undone by players.<br /> <b>TL;DR You "can" grief if you take a government over and need to do changes</b><br />
  </ol>
  <b>Failing to follow these rules will result in a ban.</b>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}