{% include 'includes/head.twig' with {'pageTitle': 'Home'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'home',} %}
    
<main class="pageContent container">
  <h1>Welcome to Clyde's Real Survival SMP (CRSS)!</h1>
  <p>This is a server made by Blurryface, hosted by TheClashFruit, played by Devin, and sponsored by TheClashFruit's Real Hosting Company Limited Liability Company (TCFRHCLLC) and Pridecraft Studios!</p>
  
  <h2 id="rules">Rules</h2>
  <ol>
    <li>
      The usage of modified clients that gives unfair advantage to players is not permitted. <b>TL;DR Do not cheat.</b>
    </li>
    <li>
      Do not modify (or destroy) other players' constructions, or take their items, without their permission. <b>TL;DR Do not grief or steal.</b>
    </li>
  </ol>
  <b>Failing to follow these basic rules will result in a ban.</b>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}