{% include 'includes/head.twig' with {'pageTitle': 'Map'} %}

<div class="pageHero" id="hero">
  <div class="blurFiler">
    <div class="container">
      <h1>Clyde's Real Survival SMP</h1>
    
      <div class="serverInfo">
        Online: <label>0</label> / <label>20</label>
      </div>
    </div>
  </div>
</div>

{% include 'includes/nav.twig' with {'page': 'map',} %}
    
<main class="pageContent" id="content">
  <div class="container">
    <p>⚒️ Under Construction</p>
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}