{% include 'includes/head.twig' with {'pageTitle': 'Map'} %}

<div id="map"></div>

<script>
  const center = "{{ center }}";

  const markers = {{ markers|raw }};
</script>

<script src="js/map.js"></script>

{% include 'includes/foot.twig' %}