{% include 'includes/head.twig' with {'pageTitle': 'Map'} %}

<div id="map"></div>
<a id="homeLink" href="/">Go Home</a>

<script>
  let map = L.map('map', { 
      zoomControl: false, 
      scrollWheelZoom: false,
      doubleClickZoom: false,
  }).setView([-36.3, -41.3], 4);

  L.tileLayer('https://cdn.theclashfruit.me/crss/map/tile_{x}x{y}y.png', {
    attribution: '&copy; <a href="https://crss.blurryface.xyz/">CRSS</a> players',
    noWrap: true
  }).addTo(map);


  L.marker([-36.3, -41.3])
   .addTo(map)
   .bindPopup('Spawn Town in Republic of Panorama');
</script>

{% include 'includes/foot.twig' %}