{% include 'includes/head.twig' with {'pageTitle': 'Nations'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'nations'} %}

<main class="pageContent container">
  <h1>Nations</h1>
  <ul>
    {% for nation in nations %}
      <li>
        <a href="/nation/{{ nation.short }}">{{ nation.name }}</a>
      </li>
    {% endfor %}
  </ul>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}