{% include 'includes/head.twig' with {'pageTitle': 'Nations'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'nations'} %}

<main class="pageContent" id="content">
  <div class="container">
    <h1>Nations</h1>
    <ul>
      <li>
        <a href="/nation/rop">Republic of Panorama</a>
      </li>
    </ul>
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}