{% include 'includes/head.twig' with {'pageTitle': 'Rules'} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'rules',} %}
    
<main class="pageContent" id="content">
  <div class="container">
    <h2>Rules</h2>

    <ol>
      <li>
        The usage of modified clients that gives unfair advantage to players is not permitted. <b>TL;DR Do not cheat.</b>
      </li>
      <li>
        Do not modify (or destroy) other players' constructions, or take their items, without their permission. <b>TL;DR Do not grief or steal.</b>
      </li>
    </ol>
    <h4>
      What you can do with alts in CRSS:
    </h4>
    <ol>
      <li>
        Alts can be used to operate farms that require alts, as this is seen as the alt being stationary.
      </li>
      <li>
        Alts can be used as a regular player if logged on near the main account.
      </li>
      <li>
        Alts can store common blocks that can be easily obtained, such as dirt.
      </li>
      <li>
        Alts can be used for non-obstructive reasons (EX joking around) and will exempt the rule that requires the alt to be in the radius of the main
      </li>
      <li>
        Alts accounts must be identified and will require you to say that the account is a alt
      </li>
      <li>
        Alts can be used for rp roles and can be logged on at any time for the rp reason/management of the area which the rp is taken place. (EX Bank Teller, Government Offices)
      </li>
    </ol>
    <h4>
      What you cannot do with alts in CRSS:
    </h4>
    <ol>
      <li>
        Alts cannot be used for “instant” transportation unless they are marked to be stationary which they cannot move out the area for.
      </li>
      <li>
        Alts cannot be used to deliberately store items as an “extra enderchest,” with the exception of common blocks. (EX dirt)
      </li>
      <li>
        If an alt is used as a regular player near the main account, it must be returned to the main account’s radius before logging back onto your main account, unless the alt was moved to a stationary location.
      </li>
    </ol>

    <b>Failing to follow these basic rules will result in a ban.</b>
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}