{% include 'includes/head.twig' with {'pageTitle': username} %}

{% include 'includes/hero.twig' %}

{% include 'includes/nav.twig' with {'page': 'user',} %}
    
<main class="pageContent" id="content">
  <div class="container">
    {{ db_user.display_name }} is {% if db_user.is_admin == 1 %} an admin! {% else %} not an admin! {% endif %}
  </div>
</main>

{% include 'includes/footer.twig' %}
{% include 'includes/foot.twig' %}