// Light Theme

$pageBG: white;
$pageFG: black;

$accent: #527D52;
$linkColor: $accent;

$btnNormalBG: $accent;
$btnNormalFG: white;
$btnActiveBG: $accent;
$btnActiveFG: white;

$navBG: #f9fff9;
$navBorder: #d0dfd0;

$cardNormalBG: #f9f9f9;
$cardNormalFG: $pageFG;
$cardNormalBorder: #d0d0d0;
$cardActiveBG: $navBG;
$cardActiveFG: $linkColor;
$cardActiveBorder: $navBorder;

/*$cardBG: $navBG;
$cardFG: $pageFG;
$cardBorder: $navBorder;*/

$navLinkOutlineColor: #D0DFD0;
$navLinkNormalColor: #7E9E7E;
$navLinkActiveColor: $accent;

$headerOverlay: white;