{% include 'admin/includes/head.twig' with {'pageTitle': 'Dashboard'} %}

<div class="d-flex flex-grow-1">
  {% include 'admin/includes/sidebar.twig' %}

  <div class="flex-grow-1 pageContainer">

  </div>
</div>

{% include 'admin/includes/foot.twig' %}