@import 'theme.module';

* {
  padding: 0;
  margin: 0;

  scrollbar-color: var(--primary) var(--surface);
}

*::selection {
  background: rgba(var(--primary-rgb), 0.35);
}

body {
  font-family: var(--fontOpenSans);

  font-weight: 400;
  line-height: 1.7;

  font-size: 100%;

  background: var(--surface);
  color: var(--onSurface);

  min-height: 100svh;

  display: flex;

  flex-direction: column;

  main {
    flex: 1;

    ul, ol {
      margin-left: 24px;
    }
  }
}

$headers: (
  h1: 200%,
  h2: 160%,
  h3: 140%,
  h4: 130%,
  h5: 120%,
  h6: 110%
);

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontOpenSans);

  font-weight: 600;
  line-height: 1.7;

  margin-bottom: 16px;
}

@each $tag, $size in $headers {
  #{$tag} {
    font-size: $size;
  }
}

p, ol, ul, label, a, button {
  font-family: var(--fontOpenSans);

  font-size: 100%;
  line-height: 1.7;
}

strong {
  font-weight: 600;
}

a {
  color: var(--primary);

  text-decoration: none;

  cursor: pointer
}

a:hover {
  text-decoration: underline;
}

p:not(:last-child), ol:not(li > ol, li > ul, :last-child), ul:not(li > ol, li > ul, :last-child) {
  margin-bottom: 16px;
}

hr {
  margin-bottom: 16px;

  border: none;
  border-bottom: 1px solid var(--outlineVariant);
}

// tooltip time

[data-tooltip] {
  position: relative;

  &::before {
    content: attr(data-tooltip-value);

    opacity: 0;

    position: absolute;

    bottom: 125%;
    left: 50%;

    transform: translateX(-50%);

    background: var(--surfaceContainerHighest);
    color: var(--onSurfaceContainer);

    padding: 4px 12px;

    border: 1px solid var(--outlineVariant);
    border-radius: 10px;

    font-size: 90%;
    font-style: normal;

    line-height: 1.7;

    pointer-events: none;

    transition: opacity 250ms;

    z-index: 9999;

    max-width: 300px;
    width: max-content;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

[data-badge] {
  &[data-badge='hello_world'] > svg {
    color: var(--tertiary);
  }
  &[data-badge='community'] > svg {
    color: var(--primary);
  }
  &[data-badge='dedicated_builder'] > svg {
    color: var(--error);
  }
  &[data-badge='code_contributor'] > svg {
    color: var(--badgeCodeContributor);
  }

  &[data-badge='nothing_to_see'] > svg {
    color: var(--badgeNothing);
  }
}